body {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#green {
    grid-column: 1/4;
}

#blue {
    grid-column: 3/4;
    grid-row: 2/4;
}

#orange {
    grid-column: 1/3;
    grid-row: 3/4;
}